body {
    background-color: hsl(217, 54%, 11%);
}

#content {
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;
}

#head-card {
    position: relative;
    display: inline-block;
}

#equi-img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

#view {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%, 0.5);
    font-size: 24px;
    opacity: 0;
}

#view:hover {
    opacity: 1;
    cursor: pointer;
}

#content h1 {
    color: white;
    font-weight: 600;
    font-size: larger;
}

#content h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

#content p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: medium;
}

#data {
    overflow: hidden;
}

#eth {
    color: hsl(178, 100%, 50%);
    font-size: small;
    float: left;
    display: flex;
    align-items: center;
}

#time {
    color: hsl(215, 51%, 70%);
    float: right;
    font-size: small;
    display: flex;
    align-items: center;
}

#eth img, #time img {
    margin-right: 5px;
}

#creator {
    color:hsl(215, 51%, 70%) ;
    font-size: medium;
    clear: both;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#creator img{
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
    margin-right: 10px;

}

#creator a {
    padding-left: 5px;
    text-decoration: none;
    color: white;
}

#creator a:hover {
    color: hsl(178, 100%, 50%);
}


@media only screen and (min-width: 800px) {
    #content {
        width: 20%;
        margin-left: 40%;
        margin-top: 5%;
    }


}